@charset "UTF-8";
/*第一章：sass进阶篇*/
/*@if*/
.block {
  display: block;
}

.hidden {
  display: none;
}

/*@for循环（上）*/
.item-1 {
  width: 2em;
}

.item-2 {
  width: 4em;
}

.item-3 {
  width: 6em;
}

.item-1 {
  width: 2em;
}

.item-2 {
  width: 4em;
}

/* col-1 ~ col-12 */
.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

/*@for循环（下）*/
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.span1 {
  width: 60px;
}

.span2 {
  width: 140px;
}

.span3 {
  width: 220px;
}

.span4 {
  width: 300px;
}

.span5 {
  width: 380px;
}

.span6 {
  width: 460px;
}

.span7 {
  width: 540px;
}

.span8 {
  width: 620px;
}

.span9 {
  width: 700px;
}

.span10 {
  width: 780px;
}

.span11 {
  width: 860px;
}

.span12 {
  width: 940px;
}

.span1 {
  width: 60px;
}

.span2 {
  width: 140px;
}

.span3 {
  width: 220px;
}

.span4 {
  width: 300px;
}

.span5 {
  width: 380px;
}

.span6 {
  width: 460px;
}

.span7 {
  width: 540px;
}

.span8 {
  width: 620px;
}

.span9 {
  width: 700px;
}

.span10 {
  width: 780px;
}

.span11 {
  width: 860px;
}

.span12 {
  width: 940px;
}

/*@while循环*/
.while-4 {
  width: 24px;
}

.while-3 {
  width: 23px;
}

.while-2 {
  width: 22px;
}

.while-1 {
  width: 21px;
}

/*@each循环*/
.author-bio .photo-adam {
  background: url("/images/avatars/adam.png") no-repeat;
}
.author-bio .photo-john {
  background: url("/images/avatars/john.png") no-repeat;
}
.author-bio .photo-wynn {
  background: url("/images/avatars/wynn.png") no-repeat;
}
.author-bio .photo-mason {
  background: url("/images/avatars/mason.png") no-repeat;
}
.author-bio .photo-kuroir {
  background: url("/images/avatars/kuroir.png") no-repeat;
}

.author-bio .photo-sunxiaoluo {
  background: url("/images/avatars/sunxiaoluo.png") no-repeat;
}
.author-bio .photo-lixiaoyi {
  background: url("/images/avatars/lixiaoyi.png") no-repeat;
}
.author-bio .photo-sunshasha {
  background: url("/images/avatars/sunshasha.png") no-repeat;
}
.author-bio .photo-sunwenbin {
  background: url("/images/avatars/sunwenbin.png") no-repeat;
}
.author-bio .photo-chengmengmegn {
  background: url("/images/avatars/chengmengmegn.png") no-repeat;
}

/*进阶第二章*/
/*第二章：sass的函数简介*/
/*字符串函数-unquote()函数*/
.test1 {
  content: Hello Sass!;
}

.test2 {
  content: 'Hello Sass!;
}

.test3 {
  content: I'm Web Designer;
}

.test4 {
  content: 'Hello Sass!';
}

.test5 {
  content: "Hello Sass!";
}

.test6 {
  content: Hello Sass;
}

/*字符串函数-quote()函数*/
.test1 {
  content: "Hello Sass!";
}

.test2 {
  content: "Hello Sass!";
}

.test3 {
  content: "ImWebDesigner";
}

.test4 {
  content: " ";
}

/*字符串函数-To-upper-case()、To-lower-case()*/
.test {
  text: AAAAA;
  text: AA-AAAA-AAA;
}

.test {
  text: aaaaa;
  text: aa-aaaa-aaa;
}

/*数字函数简介*/
.main {
  width: 75%;
  height: 1;
  padding: 0;
  margin: 1;
  line-height: 0.25;
  font-weight: 0.75;
  font-size: 0.72175;
}

.footer {
  width: 20%;
}

.footer1 {
  width: 16px;
}

.footer2 {
  width: 3em;
}

.footer23 {
  width: 20%;
  width: 2%;
}

.footer1 {
  width: 19px;
}

.footer2 {
  width: 3em;
}

.footer1 {
  width: 13px;
}

.footer2 {
  width: 8em;
}

.footer {
  width: 8.9px;
}

.div1 {
  width: 3;
}

.div2 {
  width: 1%;
}

.div1 {
  width: 3;
}

.div2 {
  width: 1%;
}

div {
  width: 0.59119;
}

/*进阶第三章*/
/*第三章：列表函数简介*/
.list-function-style {
  size: 4;
}

/*nth()函数*/
.box {
  border: 4px solid blue;
}

/*join()函数*/
.box {
  padding: 10px 20px 30px 40px;
  color: blue red #abc #def #dee #eff;
}

/*append()函数*/
/*zip()函数*/
/*index()函数*/
/*Introspection函数         Introspection:自我检查*/
/*函数 -type-of()*/
/*unit()函数*/
/*unitless()函数*/
.botton {
  position: relative;
  left: 20px;
  top: 30px;
}

/*comparable()函数*/
/*Miscellaneous函数*/
.box2 {
  width: 20em;
}

.box2 {
  width: 8em;
}

/*Map*/
/*Sass Maps的函数 */
/*Sass Maps的函数-map-get($map,$key)*/
.btn-dribble {
  color: #3b5998;
}

.btn-weibo {
  font-size: 12px;
}

.btn-weibo {
  font-size: 12px;
}

.btn-c {
  color: #444;
}

/*Sass Maps的函数-map-has-key($map,$key)*/
.btn-facebook {
  color: #3b5998;
}

/*no each*/
.btn-dribble {
  color: #ea4c89;
}

.btn-facebook {
  color: #3b5998;
}

.btn-github {
  color: #171515;
}

.btn-google {
  color: #db4437;
}

.btn-twitter {
  color: #55acee;
}

/*each*/
.btn-dribble {
  color: #ea4c89;
}

.btn-facebook {
  color: #3b5998;
}

.btn-github {
  color: #171515;
}

.btn-google {
  color: #db4437;
}

.btn-twitter {
  color: #55acee;
}

/*Sass Maps的函数-map-keys($map)*/
.btn-dribble {
  color: #ea4c89;
}

.btn-facebook {
  color: #3b5998;
}

.btn-github {
  color: #171515;
}

.btn-google {
  color: #db4437;
}

.btn-twitter {
  color: #55acee;
}

.btn-dribble {
  color: #ea4c89;
}

.btn-facebook {
  color: #3b5998;
}

.btn-github {
  color: #171515;
}

.btn-google {
  color: #db4437;
}

.btn-twitter {
  color: #55acee;
}

/*Sass Maps的函数-map-values($map)、map-merge($map1,$map2)*/
/*map-merge($map1,$map2)*/
body {
  text: #f36;
  link: #f63;
  border: #ddd;
  backround: #fff;
  font-size: 12px;
  line-height: 1.6;
}

/*Sass Maps的函数-map-remove($map,$key)、keywords($args)*/
/*keywords($args)*/
/*进阶第四章*/
/*Sass的函数功能-颜色函数*/
/*RGB颜色函数-RGB()颜色函数*/
/*RGB颜色函数-RGBA()函数*/
/*RGB颜色函数-Red()、Green()、Blue()函数*/
.body {
  color: #fff;
}

body {
  color: #fff;
}

.div {
  color: 255;
  color: #255;
  background: #255;
  background: rgba(34, 85, 85, 0.6);
}

/*RGB颜色函数-Mix()函数*/
.mix {
  background: #ee3366;
  color: #fffffe;
  border-color: #ee3366;
}

/*HSL函数简介*/
/*HSL函数-lighten()*/
.lighten {
  background: #db1926;
}

.darken {
  background: #7f0f16;
}

.lighten {
  background: white;
  background: #f9c7cb;
}

.darken {
  background: black;
}

.lighten {
  background: white;
}

.darken {
  background: black;
}

/*HSL函数-saturate()*/
.saturate {
  background: #c1000d;
}

.desaturate {
  background: #903137;
}

.saturate {
  background: #c1000d;
}

.desaturate {
  background: #903137;
}

/*HSL函数-adjust-hue()函数*/
.adjust-hue-deg {
  background: #ad5714;
}

.adjust-hue-per {
  background: #ad5714;
}

.adjust-hue-deg {
  background: #ad5614;
}

.adjust-hue-per {
  background: #ad5614;
}

/*HSL函数-grayscale()函数*/
.grayscale {
  background: #616161;
}

.desaturate {
  background: #616161;
}

.grayscale {
  background: #343434;
}

.desaturate {
  background: #2c343c;
}

/*Opacity函数简介*/
/*Opacity函数-alpha()、opacity()函数*/
/*Opacity函数-rgba()函数*/
/*Opacity函数-opacify()、fade-in()函数*/
/*Opacity函数-transparentize()、 fade-out()函数*/
/*颜色函数实战——七色卡*/
body {
  font-family: verdana;
  font-size: 8px;
  background-color: #000;
}

.swatches li {
  width: 4.7619047619%;
  float: left;
  height: 60px;
  list-style: none outside none;
}

ul.red li:nth-child(10) {
  background-color: #eb1f48;
}
ul.red li:nth-child(10):hover:before {
  content: "#eb1f48";
  color: #38050f;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.red li:nth-child(9) {
  background-color: #ed365b;
}
ul.red li:nth-child(9):hover:before {
  content: "#ed365b";
  color: #500716;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.red li:nth-child(8) {
  background-color: #ef4e6e;
}
ul.red li:nth-child(8):hover:before {
  content: "#ef4e6e";
  color: #67091c;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.red li:nth-child(7) {
  background-color: #f16581;
}
ul.red li:nth-child(7):hover:before {
  content: "#f16581";
  color: #7f0c23;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.red li:nth-child(6) {
  background-color: #f37c94;
}
ul.red li:nth-child(6):hover:before {
  content: "#f37c94";
  color: #960e29;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.red li:nth-child(5) {
  background-color: #f594a7;
}
ul.red li:nth-child(5):hover:before {
  content: "#f594a7";
  color: #ad102f;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.red li:nth-child(4) {
  background-color: #f7abba;
}
ul.red li:nth-child(4):hover:before {
  content: "#f7abba";
  color: #c51236;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.red li:nth-child(3) {
  background-color: #fac3ce;
}
ul.red li:nth-child(3):hover:before {
  content: "#fac3ce";
  color: crimson;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.red li:nth-child(2) {
  background-color: #fcdae1;
}
ul.red li:nth-child(2):hover:before {
  content: "#fcdae1";
  color: #eb1f48;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.red li:nth-child(1) {
  background-color: #fef1f4;
}
ul.red li:nth-child(1):hover:before {
  content: "#fef1f4";
  color: #ed365b;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.red li:nth-child(12) {
  background-color: #c51236;
}
ul.red li:nth-child(12):hover:before {
  content: "#c51236";
  color: #f7abba;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.red li:nth-child(13) {
  background-color: #ad102f;
}
ul.red li:nth-child(13):hover:before {
  content: "#ad102f";
  color: #f594a7;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.red li:nth-child(14) {
  background-color: #960e29;
}
ul.red li:nth-child(14):hover:before {
  content: "#960e29";
  color: #f37c94;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.red li:nth-child(15) {
  background-color: #7f0c23;
}
ul.red li:nth-child(15):hover:before {
  content: "#7f0c23";
  color: #f16581;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.red li:nth-child(16) {
  background-color: #67091c;
}
ul.red li:nth-child(16):hover:before {
  content: "#67091c";
  color: #ef4e6e;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.red li:nth-child(17) {
  background-color: #500716;
}
ul.red li:nth-child(17):hover:before {
  content: "#500716";
  color: #ed365b;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.red li:nth-child(18) {
  background-color: #38050f;
}
ul.red li:nth-child(18):hover:before {
  content: "#38050f";
  color: #eb1f48;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.red li:nth-child(19) {
  background-color: #210309;
}
ul.red li:nth-child(19):hover:before {
  content: "#210309";
  color: crimson;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.red li:nth-child(20) {
  background-color: #0a0103;
}
ul.red li:nth-child(20):hover:before {
  content: "#0a0103";
  color: #c51236;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.red li:nth-child(21) {
  background-color: black;
}
ul.red li:nth-child(21):hover:before {
  content: "black";
  color: #bb1133;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.red li:nth-child(11) {
  background-color: #DC143C;
}

ul.orange li:nth-child(10) {
  background-color: #f4882f;
}
ul.orange li:nth-child(10):hover:before {
  content: "#f4882f";
  color: #532804;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.orange li:nth-child(9) {
  background-color: #f69647;
}
ul.orange li:nth-child(9):hover:before {
  content: "#f69647";
  color: #6b3305;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.orange li:nth-child(8) {
  background-color: #f7a35f;
}
ul.orange li:nth-child(8):hover:before {
  content: "#f7a35f";
  color: #833f07;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.orange li:nth-child(7) {
  background-color: #f8b177;
}
ul.orange li:nth-child(7):hover:before {
  content: "#f8b177";
  color: #9c4a08;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.orange li:nth-child(6) {
  background-color: #f9bf90;
}
ul.orange li:nth-child(6):hover:before {
  content: "#f9bf90";
  color: #b45609;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.orange li:nth-child(5) {
  background-color: #fbcda8;
}
ul.orange li:nth-child(5):hover:before {
  content: "#fbcda8";
  color: #cc620a;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.orange li:nth-child(4) {
  background-color: #fcdbc0;
}
ul.orange li:nth-child(4):hover:before {
  content: "#fcdbc0";
  color: #e46d0c;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.orange li:nth-child(3) {
  background-color: #fde9d8;
}
ul.orange li:nth-child(3):hover:before {
  content: "#fde9d8";
  color: #f37a16;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.orange li:nth-child(2) {
  background-color: #fef7f1;
}
ul.orange li:nth-child(2):hover:before {
  content: "#fef7f1";
  color: #f4882f;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.orange li:nth-child(1) {
  background-color: white;
}
ul.orange li:nth-child(1):hover:before {
  content: "white";
  color: #f5903d;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.orange li:nth-child(12) {
  background-color: #e46d0c;
}
ul.orange li:nth-child(12):hover:before {
  content: "#e46d0c";
  color: #fcdbc0;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.orange li:nth-child(13) {
  background-color: #cc620a;
}
ul.orange li:nth-child(13):hover:before {
  content: "#cc620a";
  color: #fbcda8;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.orange li:nth-child(14) {
  background-color: #b45609;
}
ul.orange li:nth-child(14):hover:before {
  content: "#b45609";
  color: #f9bf90;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.orange li:nth-child(15) {
  background-color: #9c4a08;
}
ul.orange li:nth-child(15):hover:before {
  content: "#9c4a08";
  color: #f8b177;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.orange li:nth-child(16) {
  background-color: #833f07;
}
ul.orange li:nth-child(16):hover:before {
  content: "#833f07";
  color: #f7a35f;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.orange li:nth-child(17) {
  background-color: #6b3305;
}
ul.orange li:nth-child(17):hover:before {
  content: "#6b3305";
  color: #f69647;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.orange li:nth-child(18) {
  background-color: #532804;
}
ul.orange li:nth-child(18):hover:before {
  content: "#532804";
  color: #f4882f;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.orange li:nth-child(19) {
  background-color: #3b1c03;
}
ul.orange li:nth-child(19):hover:before {
  content: "#3b1c03";
  color: #f37a16;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.orange li:nth-child(20) {
  background-color: #221002;
}
ul.orange li:nth-child(20):hover:before {
  content: "#221002";
  color: #e46d0c;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.orange li:nth-child(21) {
  background-color: #0a0501;
}
ul.orange li:nth-child(21):hover:before {
  content: "#0a0501";
  color: #cc620a;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.orange li:nth-child(11) {
  background-color: #f37a16;
}

ul.yellow li:nth-child(10) {
  background-color: #fbe02d;
}
ul.yellow li:nth-child(10):hover:before {
  content: "#fbe02d";
  color: #5a4f02;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.yellow li:nth-child(9) {
  background-color: #fce346;
}
ul.yellow li:nth-child(9):hover:before {
  content: "#fce346";
  color: #736402;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.yellow li:nth-child(8) {
  background-color: #fce75f;
}
ul.yellow li:nth-child(8):hover:before {
  content: "#fce75f";
  color: #8c7a03;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.yellow li:nth-child(7) {
  background-color: #fceb78;
}
ul.yellow li:nth-child(7):hover:before {
  content: "#fceb78";
  color: #a69003;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.yellow li:nth-child(6) {
  background-color: #fdef91;
}
ul.yellow li:nth-child(6):hover:before {
  content: "#fdef91";
  color: #bfa604;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.yellow li:nth-child(5) {
  background-color: #fdf2aa;
}
ul.yellow li:nth-child(5):hover:before {
  content: "#fdf2aa";
  color: #d8bb04;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.yellow li:nth-child(4) {
  background-color: #fef6c3;
}
ul.yellow li:nth-child(4):hover:before {
  content: "#fef6c3";
  color: #f1d104;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.yellow li:nth-child(3) {
  background-color: #fefadc;
}
ul.yellow li:nth-child(3):hover:before {
  content: "#fefadc";
  color: #fbdc14;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.yellow li:nth-child(2) {
  background-color: #fffef5;
}
ul.yellow li:nth-child(2):hover:before {
  content: "#fffef5";
  color: #fbe02d;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.yellow li:nth-child(1) {
  background-color: white;
}
ul.yellow li:nth-child(1):hover:before {
  content: "white";
  color: #fbe137;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.yellow li:nth-child(12) {
  background-color: #f1d104;
}
ul.yellow li:nth-child(12):hover:before {
  content: "#f1d104";
  color: #fef6c3;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.yellow li:nth-child(13) {
  background-color: #d8bb04;
}
ul.yellow li:nth-child(13):hover:before {
  content: "#d8bb04";
  color: #fdf2aa;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.yellow li:nth-child(14) {
  background-color: #bfa604;
}
ul.yellow li:nth-child(14):hover:before {
  content: "#bfa604";
  color: #fdef91;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.yellow li:nth-child(15) {
  background-color: #a69003;
}
ul.yellow li:nth-child(15):hover:before {
  content: "#a69003";
  color: #fceb78;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.yellow li:nth-child(16) {
  background-color: #8c7a03;
}
ul.yellow li:nth-child(16):hover:before {
  content: "#8c7a03";
  color: #fce75f;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.yellow li:nth-child(17) {
  background-color: #736402;
}
ul.yellow li:nth-child(17):hover:before {
  content: "#736402";
  color: #fce346;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.yellow li:nth-child(18) {
  background-color: #5a4f02;
}
ul.yellow li:nth-child(18):hover:before {
  content: "#5a4f02";
  color: #fbe02d;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.yellow li:nth-child(19) {
  background-color: #413901;
}
ul.yellow li:nth-child(19):hover:before {
  content: "#413901";
  color: #fbdc14;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.yellow li:nth-child(20) {
  background-color: #282301;
}
ul.yellow li:nth-child(20):hover:before {
  content: "#282301";
  color: #f1d104;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.yellow li:nth-child(21) {
  background-color: #0f0d00;
}
ul.yellow li:nth-child(21):hover:before {
  content: "#0f0d00";
  color: #d8bb04;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.yellow li:nth-child(11) {
  background-color: #fbdc14;
}

ul.green li:nth-child(10) {
  background-color: #80dc24;
}
ul.green li:nth-child(10):hover:before {
  content: "#80dc24";
  color: #1a2c07;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.green li:nth-child(9) {
  background-color: #8cdf3a;
}
ul.green li:nth-child(9):hover:before {
  content: "#8cdf3a";
  color: #26420b;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.green li:nth-child(8) {
  background-color: #99e34f;
}
ul.green li:nth-child(8):hover:before {
  content: "#99e34f";
  color: #33580e;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.green li:nth-child(7) {
  background-color: #a6e665;
}
ul.green li:nth-child(7):hover:before {
  content: "#a6e665";
  color: #406e12;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.green li:nth-child(6) {
  background-color: #b3ea7b;
}
ul.green li:nth-child(6):hover:before {
  content: "#b3ea7b";
  color: #4d8415;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.green li:nth-child(5) {
  background-color: #bfed91;
}
ul.green li:nth-child(5):hover:before {
  content: "#bfed91";
  color: #599a19;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.green li:nth-child(4) {
  background-color: #ccf1a7;
}
ul.green li:nth-child(4):hover:before {
  content: "#ccf1a7";
  color: #66b01c;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.green li:nth-child(3) {
  background-color: #d9f4bd;
}
ul.green li:nth-child(3):hover:before {
  content: "#d9f4bd";
  color: #73c620;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.green li:nth-child(2) {
  background-color: #e6f8d3;
}
ul.green li:nth-child(2):hover:before {
  content: "#e6f8d3";
  color: #80dc24;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.green li:nth-child(1) {
  background-color: #f2fce9;
}
ul.green li:nth-child(1):hover:before {
  content: "#f2fce9";
  color: #8cdf3a;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.green li:nth-child(12) {
  background-color: #66b01c;
}
ul.green li:nth-child(12):hover:before {
  content: "#66b01c";
  color: #ccf1a7;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.green li:nth-child(13) {
  background-color: #599a19;
}
ul.green li:nth-child(13):hover:before {
  content: "#599a19";
  color: #bfed91;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.green li:nth-child(14) {
  background-color: #4d8415;
}
ul.green li:nth-child(14):hover:before {
  content: "#4d8415";
  color: #b3ea7b;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.green li:nth-child(15) {
  background-color: #406e12;
}
ul.green li:nth-child(15):hover:before {
  content: "#406e12";
  color: #a6e665;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.green li:nth-child(16) {
  background-color: #33580e;
}
ul.green li:nth-child(16):hover:before {
  content: "#33580e";
  color: #99e34f;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.green li:nth-child(17) {
  background-color: #26420b;
}
ul.green li:nth-child(17):hover:before {
  content: "#26420b";
  color: #8cdf3a;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.green li:nth-child(18) {
  background-color: #1a2c07;
}
ul.green li:nth-child(18):hover:before {
  content: "#1a2c07";
  color: #80dc24;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.green li:nth-child(19) {
  background-color: #0d1604;
}
ul.green li:nth-child(19):hover:before {
  content: "#0d1604";
  color: #73c620;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.green li:nth-child(20) {
  background-color: black;
}
ul.green li:nth-child(20):hover:before {
  content: "black";
  color: #66b01c;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.green li:nth-child(21) {
  background-color: black;
}
ul.green li:nth-child(21):hover:before {
  content: "black";
  color: #66b01c;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.green li:nth-child(11) {
  background-color: #73c620;
}

ul.blue li:nth-child(10) {
  background-color: #14cbeb;
}
ul.blue li:nth-child(10):hover:before {
  content: "#14cbeb";
  color: #04292f;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.blue li:nth-child(9) {
  background-color: #2cd0ed;
}
ul.blue li:nth-child(9):hover:before {
  content: "#2cd0ed";
  color: #063d47;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.blue li:nth-child(8) {
  background-color: #43d5ef;
}
ul.blue li:nth-child(8):hover:before {
  content: "#43d5ef";
  color: #08515e;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.blue li:nth-child(7) {
  background-color: #5bdaf1;
}
ul.blue li:nth-child(7):hover:before {
  content: "#5bdaf1";
  color: #0a6676;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.blue li:nth-child(6) {
  background-color: #72e0f3;
}
ul.blue li:nth-child(6):hover:before {
  content: "#72e0f3";
  color: #0c7a8d;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.blue li:nth-child(5) {
  background-color: #8ae5f5;
}
ul.blue li:nth-child(5):hover:before {
  content: "#8ae5f5";
  color: #0e8ea5;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.blue li:nth-child(4) {
  background-color: #a1eaf7;
}
ul.blue li:nth-child(4):hover:before {
  content: "#a1eaf7";
  color: #10a2bc;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.blue li:nth-child(3) {
  background-color: #b9eff9;
}
ul.blue li:nth-child(3):hover:before {
  content: "#b9eff9";
  color: #12b7d4;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.blue li:nth-child(2) {
  background-color: #d0f5fb;
}
ul.blue li:nth-child(2):hover:before {
  content: "#d0f5fb";
  color: #14cbeb;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.blue li:nth-child(1) {
  background-color: #e8fafd;
}
ul.blue li:nth-child(1):hover:before {
  content: "#e8fafd";
  color: #2cd0ed;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.blue li:nth-child(12) {
  background-color: #10a2bc;
}
ul.blue li:nth-child(12):hover:before {
  content: "#10a2bc";
  color: #a1eaf7;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.blue li:nth-child(13) {
  background-color: #0e8ea5;
}
ul.blue li:nth-child(13):hover:before {
  content: "#0e8ea5";
  color: #8ae5f5;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.blue li:nth-child(14) {
  background-color: #0c7a8d;
}
ul.blue li:nth-child(14):hover:before {
  content: "#0c7a8d";
  color: #72e0f3;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.blue li:nth-child(15) {
  background-color: #0a6676;
}
ul.blue li:nth-child(15):hover:before {
  content: "#0a6676";
  color: #5bdaf1;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.blue li:nth-child(16) {
  background-color: #08515e;
}
ul.blue li:nth-child(16):hover:before {
  content: "#08515e";
  color: #43d5ef;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.blue li:nth-child(17) {
  background-color: #063d47;
}
ul.blue li:nth-child(17):hover:before {
  content: "#063d47";
  color: #2cd0ed;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.blue li:nth-child(18) {
  background-color: #04292f;
}
ul.blue li:nth-child(18):hover:before {
  content: "#04292f";
  color: #14cbeb;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.blue li:nth-child(19) {
  background-color: #021518;
}
ul.blue li:nth-child(19):hover:before {
  content: "#021518";
  color: #12b7d4;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.blue li:nth-child(20) {
  background-color: black;
}
ul.blue li:nth-child(20):hover:before {
  content: "black";
  color: #10a2bc;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.blue li:nth-child(21) {
  background-color: black;
}
ul.blue li:nth-child(21):hover:before {
  content: "black";
  color: #10a2bc;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.blue li:nth-child(11) {
  background-color: #12b7d4;
}

ul.purple li:nth-child(10) {
  background-color: #b214eb;
}
ul.purple li:nth-child(10):hover:before {
  content: "#b214eb";
  color: #24042f;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.purple li:nth-child(9) {
  background-color: #ba2ced;
}
ul.purple li:nth-child(9):hover:before {
  content: "#ba2ced";
  color: #360647;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.purple li:nth-child(8) {
  background-color: #c143ef;
}
ul.purple li:nth-child(8):hover:before {
  content: "#c143ef";
  color: #47085e;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.purple li:nth-child(7) {
  background-color: #c95bf1;
}
ul.purple li:nth-child(7):hover:before {
  content: "#c95bf1";
  color: #590a76;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.purple li:nth-child(6) {
  background-color: #d172f3;
}
ul.purple li:nth-child(6):hover:before {
  content: "#d172f3";
  color: #6b0c8d;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.purple li:nth-child(5) {
  background-color: #d88af5;
}
ul.purple li:nth-child(5):hover:before {
  content: "#d88af5";
  color: #7d0ea5;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.purple li:nth-child(4) {
  background-color: #e0a1f7;
}
ul.purple li:nth-child(4):hover:before {
  content: "#e0a1f7";
  color: #8e10bc;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.purple li:nth-child(3) {
  background-color: #e8b9f9;
}
ul.purple li:nth-child(3):hover:before {
  content: "#e8b9f9";
  color: #a012d4;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.purple li:nth-child(2) {
  background-color: #f0d0fb;
}
ul.purple li:nth-child(2):hover:before {
  content: "#f0d0fb";
  color: #b214eb;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.purple li:nth-child(1) {
  background-color: #f7e8fd;
}
ul.purple li:nth-child(1):hover:before {
  content: "#f7e8fd";
  color: #ba2ced;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.purple li:nth-child(12) {
  background-color: #8e10bc;
}
ul.purple li:nth-child(12):hover:before {
  content: "#8e10bc";
  color: #e0a1f7;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.purple li:nth-child(13) {
  background-color: #7d0ea5;
}
ul.purple li:nth-child(13):hover:before {
  content: "#7d0ea5";
  color: #d88af5;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.purple li:nth-child(14) {
  background-color: #6b0c8d;
}
ul.purple li:nth-child(14):hover:before {
  content: "#6b0c8d";
  color: #d172f3;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.purple li:nth-child(15) {
  background-color: #590a76;
}
ul.purple li:nth-child(15):hover:before {
  content: "#590a76";
  color: #c95bf1;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.purple li:nth-child(16) {
  background-color: #47085e;
}
ul.purple li:nth-child(16):hover:before {
  content: "#47085e";
  color: #c143ef;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.purple li:nth-child(17) {
  background-color: #360647;
}
ul.purple li:nth-child(17):hover:before {
  content: "#360647";
  color: #ba2ced;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.purple li:nth-child(18) {
  background-color: #24042f;
}
ul.purple li:nth-child(18):hover:before {
  content: "#24042f";
  color: #b214eb;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.purple li:nth-child(19) {
  background-color: #120218;
}
ul.purple li:nth-child(19):hover:before {
  content: "#120218";
  color: #a012d4;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.purple li:nth-child(20) {
  background-color: black;
}
ul.purple li:nth-child(20):hover:before {
  content: "black";
  color: #8e10bc;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.purple li:nth-child(21) {
  background-color: black;
}
ul.purple li:nth-child(21):hover:before {
  content: "black";
  color: #8e10bc;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.purple li:nth-child(11) {
  background-color: #a012d4;
}

ul.black li:nth-child(10) {
  background-color: #848484;
}
ul.black li:nth-child(10):hover:before {
  content: "#848484";
  color: #1e1e1e;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.black li:nth-child(9) {
  background-color: #919191;
}
ul.black li:nth-child(9):hover:before {
  content: "#919191";
  color: #2b2b2b;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.black li:nth-child(8) {
  background-color: #9d9d9d;
}
ul.black li:nth-child(8):hover:before {
  content: "#9d9d9d";
  color: #373737;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.black li:nth-child(7) {
  background-color: #aaaaaa;
}
ul.black li:nth-child(7):hover:before {
  content: "#aaaaaa";
  color: #444444;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.black li:nth-child(6) {
  background-color: #b7b7b7;
}
ul.black li:nth-child(6):hover:before {
  content: "#b7b7b7";
  color: #515151;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.black li:nth-child(5) {
  background-color: #c4c4c4;
}
ul.black li:nth-child(5):hover:before {
  content: "#c4c4c4";
  color: #5e5e5e;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.black li:nth-child(4) {
  background-color: #d0d0d0;
}
ul.black li:nth-child(4):hover:before {
  content: "#d0d0d0";
  color: #6a6a6a;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.black li:nth-child(3) {
  background-color: #dddddd;
}
ul.black li:nth-child(3):hover:before {
  content: "#dddddd";
  color: #777777;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.black li:nth-child(2) {
  background-color: #eaeaea;
}
ul.black li:nth-child(2):hover:before {
  content: "#eaeaea";
  color: #848484;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.black li:nth-child(1) {
  background-color: #f7f7f7;
}
ul.black li:nth-child(1):hover:before {
  content: "#f7f7f7";
  color: #919191;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.black li:nth-child(12) {
  background-color: #6a6a6a;
}
ul.black li:nth-child(12):hover:before {
  content: "#6a6a6a";
  color: #d0d0d0;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.black li:nth-child(13) {
  background-color: #5e5e5e;
}
ul.black li:nth-child(13):hover:before {
  content: "#5e5e5e";
  color: #c4c4c4;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.black li:nth-child(14) {
  background-color: #515151;
}
ul.black li:nth-child(14):hover:before {
  content: "#515151";
  color: #b7b7b7;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.black li:nth-child(15) {
  background-color: #444444;
}
ul.black li:nth-child(15):hover:before {
  content: "#444444";
  color: #aaaaaa;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.black li:nth-child(16) {
  background-color: #373737;
}
ul.black li:nth-child(16):hover:before {
  content: "#373737";
  color: #9d9d9d;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.black li:nth-child(17) {
  background-color: #2b2b2b;
}
ul.black li:nth-child(17):hover:before {
  content: "#2b2b2b";
  color: #919191;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.black li:nth-child(18) {
  background-color: #1e1e1e;
}
ul.black li:nth-child(18):hover:before {
  content: "#1e1e1e";
  color: #848484;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.black li:nth-child(19) {
  background-color: #111111;
}
ul.black li:nth-child(19):hover:before {
  content: "#111111";
  color: #777777;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.black li:nth-child(20) {
  background-color: #040404;
}
ul.black li:nth-child(20):hover:before {
  content: "#040404";
  color: #6a6a6a;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.black li:nth-child(21) {
  background-color: black;
}
ul.black li:nth-child(21):hover:before {
  content: "black";
  color: #666666;
  font-family: verdana;
  font-size: 8px;
  padding: 20px;
}
ul.black li:nth-child(11) {
  background-color: #777;
}

/*sass进阶篇 第五章 @规则*/
/*@import*/
/*如果不愿意写的scss文件被编译 可以命名的文件名称前边加一个下划线 _ */
/*嵌套 @import*/
#main .example {
  color: red;
}

/*@media*/
.sidebar {
  width: 300px;
}
@media screen and (orientation: landscape) {
  .sidebar {
    width: 500px;
  }
}

@media screen and (orientation: landscape) {
  .sidebar {
    width: 500px;
  }
}

@media screen and (orientation: landscape) {
  .sidebar {
    width: 500px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .sidebar {
    width: 500px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .sidebar {
    width: 500px;
  }
}
@media screen and (min-resolution: 1.5) {
  .sidebar {
    width: 500px;
  }
}
/*@extend*/
.error, .seriousError {
  border: 1px #f00;
  background-color: #fdd;
}

.error.intrusion, .intrusion.seriousError {
  background-image: url("/image/hacked.png");
}

.seriousError {
  border-width: 3px;
}

.error, .seriousError, .seriousError {
  border: 1px #f00;
  background-color: #fdd;
}

.error.intrusion, .intrusion.seriousError, .seriousError.intrusion {
  background-image: url("/image/hacked.png");
}

.seriousError {
  border-width: 3px;
}

.comment a.user:hover, .comment .user.hoverlink {
  font-weight: bold;
}

.comment a.user:hover, .comment .user.hoverlink, .comment .user.hoverlink {
  font-weight: bold;
}

.error, .seriousError {
  border: 1px #f00;
  background-color: #fdd;
}

.attention, .seriousError {
  font-size: 3em;
  background-color: #ff0;
}

.seriousError {
  border-width: 3px;
}

.error, .seriousError, .seriousError {
  border: 1px #f00;
  background-color: #fdd;
}

.attention, .seriousError, .seriousError {
  font-size: 3em;
  background-color: #ff0;
}

.seriousError {
  border-width: 3px;
}

#context a.notice {
  color: blue;
  font-weight: bold;
  font-size: 2em;
}

#context a.notice {
  color: blue;
  font-weight: bold;
  font-size: 2em;
}

/*@at-root*/
.a {
  color: red;
}
.a .b {
  color: orange;
}
.a .b .c {
  color: yellow;
}
.d {
  color: green;
}

.a {
  color: red;
}

.a .b {
  color: orange;
}

.a .b .c {
  color: yellow;
}

.d {
  color: green;
}

.block {
  color: red;
}
.block .block__element {
  color: blue;
}
.block .block--modifier {
  color: orange;
}

.block {
  color: red;
}

.block .block__element {
  color: blue;
}

.block .block--modifier {
  color: orange;
}

.block {
  color: red;
}
.block__element {
  color: blue;
}
.block--modifier {
  color: orange;
}

.block {
  color: red;
}

.block__element {
  color: blue;
}

.block--modifier {
  color: orange;
}

.block {
  color: red;
}
.block__element {
  color: green;
}
.block--modifier {
  color: blue;
}

.block {
  color: red;
}
.block__element {
  color: green;
}

.block--modifier {
  color: blue;
}

.bar .foo .baz {
  color: #gray;
}
.baz .bar .foo .bac {
  color: green;
}

.baz .foo .bac {
  color: red;
}

.bar .foo .baz {
  color: gray;
}

.baz .bar .foo .bac {
  color: green;
}

.baz .foo .bac {
  color: red;
}

/*@at-root和with或without*/
@media print {
  .page {
    width: 8in;
  }
}
.page {
  width: 960px;
}

@media print {
  .page {
    width: 8in;
  }
}
.page {
  width: 960px;
}

.speech-bubble {
  color: purple;
}
.speech-bubble .speech-bubble_header {
  color: orange;
}
.speech-bubble .speech-bubble_text {
  color: black;
}
.speech-bubble .speech-bubble_text .speech-bubble .speech-bubble_text--link {
  color: green;
}

.speech-bubble {
  color: purple;
}

.speech-bubble .speech-bubble_header {
  color: orange;
}

.speech-bubble .speech-bubble_text {
  color: black;
}

.speech-bubble .speech-bubble_text .speech-bubble .speech-bubble_text--link {
  color: green;
}

/*@debug*/
/*@warn*/
.botton {
  position: relative;
  left: 20px;
  top: 30px;
}

/*@error*/

/*# sourceMappingURL=jj-all.css.map */
