<!DOCTYPE html>
<html ng-app='myApp'>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
	</head>
	<body>
		<!--<div ng-controller="ParentController">
			<div ng-controller="ChildController">
				<a ng-click="sayHello()">Say hello</a>
				{{ person }}
			</div>
			{{ person }}
		</div>-->
		<div ng-controller="FirstCtrl">
			<a ng-click="setName()">Say hello</a>
			{{ dataf.name }}
		</div>
		<div ng-controller="SecondCtrl">
			<a ng-click="setName()">Say hello</a>
			{{ datas.name }}
		</div>
		
		<script>
		/*var app = angular.module('myApp', []);
		app.controller('ParentController', function($scope, $http) {
			$scope.person = {greeted: false};
		});
		app.controller('ChildController', function($scope, $http) {
			$scope.sayHello = function() { 
				$scope.person.name = 'Ari Lerner';
			};
		});*/
		/*var app = angular.module('myApp', []);
		app.controller('ParentController', function($scope, $http) {
			$scope.$on('$fromSubControllerClick', function(e,data){console.log(data);}) // hello
		});
		app.controller('ChildController', function($scope, $http) {
			$scope.sayHello = function() {$scope.$emit('$fromSubControllerClick','hello');}
		});
		第二种方式
因为作用域是有层次的，所以可以利用作用域链传递事件。
传递事件有2种方式： * $broadcast: 触发的事件要通知整个事件系统（允许任意作用域处理这个事件）就要向下传播。 * $emit: 如果要提醒一个全局模块，需要通知更高层次的作用域时（例如$rootscope）需要把事件向上传递。
作用域上使用$on进行事件监听。
		* */
		
		var myApp = angular.module("myApp", []);
		myApp.factory('Data', function() {
		return {
		name: "Ting"
		}
		});
		myApp.controller('FirstCtrl', function($scope, Data) {
			$scope.dataf = Data;
			$scope.setName = function() {
				Data.name = "Jack";
			}
		});
		myApp.controller('SecondCtrl', function($scope, Data) {
			$scope.datas = Data;
			$scope.setName = function() {
				Data.name = "Moby";
			}
		});
		
		</script>
	</body>
</html>